 <header class="main-header navbar-dark bg-secondary header-sticky header-sticky-smart header-mobile-lg">
        <div class="sticky-area bg-secondary">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-transparent px-0">
                    <a class="navbar-brand"  asp-page="/Index">
                        <img src="/images/logo-white.png" alt="HomeID">
                    </a>
                
                    <div class="collapse navbar-collapse mt-3 mt-lg-0 flex-grow-0 mx-auto" id="primaryMenu06">
                        <ul class="navbar-nav hover-menu main-menu px-0 mx-lg-n4">
                            <li id="navbar-item-home" aria-haspopup="true" aria-expanded="false"
                                class="nav-item dropdown py-2 py-lg-5 px-0 px-lg-4">
                                <a class="nav-link dropdown-toggle p-0" href="index.html" data-toggle="dropdown">
                                    Home
                                 
                                </a>
                            </li>
                            <li id="navbar-item-property" aria-haspopup="true" aria-expanded="false"
                                class="nav-item dropdown py-2 py-lg-5 px-0 px-lg-4">
                                <a class="nav-link dropdown-toggle p-0" href="listing.html" data-toggle="dropdown">
                                    Property
                                   
                                </a>
                               
                            </li>
                            <li id="navbar-item-dashboard" aria-haspopup="true" aria-expanded="false"
                                class="nav-item dropdown py-2 py-lg-5 px-0 px-lg-4">
                                <a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
                                    Dashboard
                                </a>
                                
                            </li>
                          
                        
                        </ul>
                        <div class="d-block d-lg-none">
                            <ul
                                class="navbar-nav flex-row ml-auto align-items-center justify-content-lg-end flex-wrap py-2">
                                <li class="nav-item">
                                    <a class="nav-link pl-3 px-2" data-toggle="modal" href="#login-register-modal">SIGN
                                        IN</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-none d-lg-block">
                        <ul
                            class="navbar-nav flex-row ml-auto align-items-center justify-content-lg-end flex-wrap py-2">
                            <li class="nav-item">
                                <a class="nav-link pl-3 px-2" data-toggle="modal" href="#login-register-modal">SIGN
                                    IN</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
